@*@model Student*@
@{
    Layout = "_Layout";
}

<nav class="breadcrumb-wrapper" aria-label="breadcrumbs" class="breadcrumb-wrapper">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">
                <span class="fas fa-home mr-1" aria-hidden="true"></span><span class="sr-only">Home</span>
            </a>
        <li class="breadcrumb-item active" aria-current="page">
            <span>Submit New Report</span><span class="fas fa-eye ml-1" aria-hidden="true"></span>
        </li>
    </ol>
</nav>
<div class="page-title">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-lg-flex justify-content-lg-between align-items-center">
                <div class="mb-2 mb-lg-0">
                    <h2 class="page-title-text">
                        <span class="icon fas fa-home mr-1" aria-hidden="true"></span>Report Child Neglect
                    </h2>
                    <p class="mb-0">Fill in the form below to submit a child neglect report in Louisiana.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-success alert-dismissable fade show" role="alert">
    <span class="alert-icon fas fa-check-circle" aria-hidden="true"></span>
    <strong>Successfully submitted!</strong> Your report was successfully submitted. Your case number is 0123456789. You can view your submission below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span class="fas fa-times" aria-hidden="true"></span>
    </button>
</div>

    <div class="content-container">
        <!-- Content here -->
        <div class="row">
            <p>Your Personal Information</p>
        </div>
        <div class="row">

        </div>
        <hr class="solid" />
        <div class="row">
            <p>Child Nelgect Information</p>
        </div>
        <div class="row">

        </div>
        <div class="row">
        
        </div>
        <div class="row">

        </div>
        <div class="row">

        </div>
    </div>