<!DOCTYPE html>

<html>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<!-- Modified from the Hero Block > Single Pane -->
<div class="hero-solo-pane">
    <div class="row no-gutters mx-n4">
        <div class="col-lg-6 half-left"
             style="background-image: url('/img/MotherAndBaby.png');">
            <img src="/img/MotherAndBaby.png" alt="Photo of a mother holding hands with her baby."
                 class="img-fluid">
        </div>
        <div class="col-lg-6 half-right bg-accent">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-center">
                    <div class="col-10 col-lg-8">
                        <h2 class="hero-big-text">Reporting Child Neglect</h2>
                        <p class="hero-small-text">
                            If you know a Louisiana child being neglected, report it online by clicking the button below.
                        </p>
                        <a href="/CreateCase" class="btn btn-white btn-lg">Report Child Neglect<span class="fas fa-arrow-right ml-1" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <details id="example01">
                        <summary class="lead text-ui-priority">What is child neglect?</summary>
                        <div class="mt-2">
                            <p>
                                “Neglect” means the refusal or unreasonable failure of a parent or caretaker to supply the child with necessary food, clothing, shelter, care, treatment, or counseling for any injury, illness, or condition of the child, as a result of which the child's physical, mental, or emotional health and safety is substantially threatened or impaired.
                                Neglect includes prenatal neglect.
                                Consistent with Article 606(B), the inability of a parent or caretaker to provide for a child due to inadequate financial resources shall not, for that reason alone, be considered neglect.
                                Whenever, in lieu of medical care, a child being provided treatment in accordance with the tenets of a well-recognized religious method of healing which has a reasonable, proven record of success, the child shall not, for that reason alone, be considered to be neglected or maltreated. However, nothing herein shall prohibit the court from ordering medical services for the child when there is a substantial risk of harm to the child's health or welfare.
                            <p>
                        </div>
                    </details>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <details id="example01">
                        <summary class="lead text-ui-priority">What is child neglect?</summary>
                        <div class="mt-2">
                            <p>
                                “Neglect” means the refusal or unreasonable failure of a parent or caretaker to supply the child with necessary food, clothing, shelter, care, treatment, or counseling for any injury, illness, or condition of the child, as a result of which the child's physical, mental, or emotional health and safety is substantially threatened or impaired.
                                Neglect includes prenatal neglect.
                                Consistent with Article 606(B), the inability of a parent or caretaker to provide for a child due to inadequate financial resources shall not, for that reason alone, be considered neglect.
                                Whenever, in lieu of medical care, a child being provided treatment in accordance with the tenets of a well-recognized religious method of healing which has a reasonable, proven record of success, the child shall not, for that reason alone, be considered to be neglected or maltreated. However, nothing herein shall prohibit the court from ordering medical services for the child when there is a substantial risk of harm to the child's health or welfare.
                            <p>
                        </div>
                    </details>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <details id="example01">
                        <summary class="lead text-ui-priority">What is child neglect?</summary>
                        <div class="mt-2">
                            <p>
                                “Neglect” means the refusal or unreasonable failure of a parent or caretaker to supply the child with necessary food, clothing, shelter, care, treatment, or counseling for any injury, illness, or condition of the child, as a result of which the child's physical, mental, or emotional health and safety is substantially threatened or impaired.
                                Neglect includes prenatal neglect.
                                Consistent with Article 606(B), the inability of a parent or caretaker to provide for a child due to inadequate financial resources shall not, for that reason alone, be considered neglect.
                                Whenever, in lieu of medical care, a child being provided treatment in accordance with the tenets of a well-recognized religious method of healing which has a reasonable, proven record of success, the child shall not, for that reason alone, be considered to be neglected or maltreated. However, nothing herein shall prohibit the court from ordering medical services for the child when there is a substantial risk of harm to the child's health or welfare.
                            <p>
                        </div>
                    </details>
                </div>
            </div>
        </div>
    </div>
</div>